table {
  border-collapse: collapse;
  width: 100px;
  margin: 10px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px;
}

.blue {
  background-color: lightblue;
}

dl {
  width: 400px;
  margin-top: 10px;
}

dt {
  color: darkblue;
  margin-top: 8px;
}

dd {
  margin-left: 20px;
}